.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 16px;
  height: 51px;
  width: 185px;
  background-color: $color-btn-bg;
  border: 2px solid transparent;
  border-radius: $btn-radius;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transition: all .4s ease;

  &:hover,
  &:focus {
    border-color: $color-btn-border-hover;
    color: $color-btn-bg;
    background-color: $color-btn-bg-hover;
  }
}

.btn_gradient {
  border-radius: 4px;
  background: linear-gradient(
                  90deg,
                  rgba(30, 167, 229, 1) 0%,
                  rgba(35, 103, 206, 1) 50%,
                  rgba(31, 154, 224, 1) 100%
  ), 0;
  background-size: 200% 100%;
  transition: background-position 0.4s ease;

  &:hover,
  &:focus {
    background-position: 100%;
    transition: background-position 0.4s ease;
  }
}