.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1350px;

  padding: 0 60px;
  margin: 0 auto;

  @include screen($large) {
    padding: 0 30px;
  }
}

@import "buttons";
@import "hamburger";
@import "accordion";
@import "presentation";
@import "arrow";


