.presentation_wrapper {
  .title {
    padding: 60px 20px;
    text-align: center;
    font-size: 34px;

    @include screen($medium) {
      font-size: 30px;
      padding: 20px;
    }
  }

}

.presentation {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 5%;

  @include screen($medium) {
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  .text,
  .image {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    @include screen($medium) {
      flex-basis: auto;
      width: 70%;
    }

    @include screen($small) {
      width: 80%;
    }
    @include screen($x-small) {
      width: 100%;
    }
  }


  .text {
    @include screen($medium) {
      order: 1;

      align-items: center;
      text-align: center;
    }
    ul {
      padding-left: 20px;
    }

    ul li {
      list-style: disc;
      margin-bottom: 1rem;
    }

    p,
    li {
      margin-bottom: 28px;
    }

    .btn {
      font-size: 15px;
    }
  }

  .image {
    display: flex;
    align-items: center;

    @include screen($large) {
      justify-content: center;
    }

    & img {
      object-fit: cover;
      object-position: center;
    }
  }
}

