.hidden {
  display: none;
}
h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 22px;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  line-height: 1;
  padding: 12px 24px;
  background-color: transparent;
  border-radius: $btn-radius;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.btn_gradient {
  background: linear-gradient(
    90deg,
    rgba(30, 167, 229, 1) 0%,
    rgba(35, 103, 206, 1) 50%,
    rgba(31, 154, 224, 1) 100%
  );
  background-size: 200% 100%;
  background-position: 0;
  transition: background-position 0.4s ease;

  &:hover,
  &:focus {
    background-position: 100%;
    transition: background-position 0.4s ease;
  }
}

.hamb {
  cursor: pointer;
  flex-direction: column;
  padding: 3px;

  span {
    top: 0;
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    background: $color-main;
    border-radius: 3px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

/* --Breakpoints-- */

$small-screen: 570px;
$medium-screen: 767px;
$large-screen: 991px;
// $xlarge-screen: 1199px;

@mixin screen($point) {
  @if $point == small {
    @media (max-width: $small-screen) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: $medium-screen) {
      @content;
    }
  } @else if $point == large {
    @media (max-width: $large-screen) {
      @content;
    }
  }
}
