footer {
  padding: 40px 0 70px;

  .container {
    max-width: 1470px;
  }

  .footer {
    & p, & span {
      font-weight: 400;
      font-size: 1.4rem;
      color: $color-text-footer;
    }

    .top_row {
      padding-bottom: 45px;
      margin-bottom: 40px;
      border-bottom: 1px solid #E8E8F3;

      @include screen($medium) {
        text-align: center;

      }

      .logo_wrapper {
        display: inline-block;
        width: 160px;
      }
    }

    .bottom_row {
      display: flex;
      justify-content: space-between;

      .left {
        max-width: 140px;
      }

      @include screen($medium) {
        text-align: center;
        flex-wrap: wrap;
        gap: 40px;

        .left, .right {
          display: inline-block;
          width: 100%;
        }
        .left {
          max-width: 100%;
        }
      }


    }
  }
}
