footer {
  background: $color-dark;

  p, a {
    font-family: $font-secondary;
    color: $color-text-footer;
    font-weight: 400;
    font-size: 1.5rem;
  }

  a:hover {
    color: #fff;
  }


  .footer {
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-template-columns: 1.5fr repeat(3, 1fr);

    .col {
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }

    .col-1 {
      gap: 20px;

      .logo_wrapper {
        max-width: 280px;
      }
    }

    .col-4 {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .copyright {
    background: $color-copyright;
    padding: 20px 0;
    text-align: center;

    p {
      line-height: 1;
      font-size: 1.4rem;
    }
  }
}
