header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;

  top: 0;
  left: 0;
  z-index: 99;

  background-color: $color-bg-main;

  transition: background .5s ease;

  //border-bottom: 1px solid #0000001a;
  // box-shadow: rgba(53, 80, 128, 0.2) 0px 0px 10px 1px;

  @include screen($medium) {
    height: 70px;
  }

  .header {
    display: flex;
    align-items: center;

    &.container {
      max-width: 1470px;
    }

    .logo_wrapper {
      display: flex;
      line-height: 1;

      @include screen($large) {
        flex-grow: 1;
        justify-content: center;
      }

      .logo {
        width: 262px;

        margin-right: 40px;

        img {
          width: 100%;
        }
      }

      .logo_mobile {
        width: 30px;
      }
    }

    .buttons {
      display: flex;
      margin-left: auto;
      gap: 25px;

      @include screen($large) {
        display: none;
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 51px;
        width: 185px;

        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;

        &:first-of-type {
          color: black;
          border-color: $color-btn-border-hover;
          background: $color-btn-bg-hover;

          &:hover,
          &:focus {
            /*            border-color: $color-main;
                        background-color: $color-btn-bg-hover;*/
          }
        }
      }
    }
  }

  .mobile_nav {
    box-sizing: content-box;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 50%;
    max-height: 0;
    width: 100%;
    opacity: 0;
    z-index: 9;

    background: white;

    transition: max-height 0.4s ease-out, opacity 0.3s ease-out;

    &.opened {
      border-bottom: 1px solid #0000001a;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      opacity: 1;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0 40px;
      gap: 20px;

      .btn {
        height: 51px;
        width: 50%;
        font-size: 1.4rem;


        @include screen($medium) {
          width: 90%;
        }
      }

    }
  }

  .alignment, .hamburger, .logo_mobile {
    display: none;
  }



  .alignment, .hamburger {
    flex-shrink: 0;
    flex-basis: 5%;
  }

  @include screen($large) {
    .alignment, .hamburger {
      display: flex;
    }
  }

  @include screen($medium) {
    .logo {
      display: none;
    }
    .logo_mobile {
      display: flex;
    }
  }
}

