.hero_wrapper {
  background: $color-bg-main;

  .hero.presentation {
    padding-top: 120px;
    padding-bottom: 70px;

    gap: 50px;

    @include screen($large) {
      align-items: flex-end;

      padding-bottom: 50px;
    }
    @include screen($medium) {
      padding-top: 70px;
      align-items: center;
      gap: 0px;
    }

    .text,
    .image {
      @include screen($large) {
        min-height: auto;
      }
    }

    .text {
      flex-basis: 50%;
    }
    .image {
      flex-basis: 50%;
    }

    .text {
      padding-top: 15%;

      @include screen($medium) {
        padding-top: 0;
      }


      h1 {
        color: $color-dark-headings;
        line-height: 1.1;
        margin-bottom: 20px;

        @include screen($large) {
          font-size: 4.0rem;
        }

        @include screen($medium) {
          font-size: 3.0rem;
        }
      }

      p {
        font-size: 1.8rem;
      }

      .btn {
        font-size: 1.6rem;
        margin-bottom: 30px;
      }
    }
  }
}

