@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  display: inline-block;
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

/* button::-moz-focus-inner {
  padding: 0;
  border: 0;
} */
nav,
footer,
header,
aside,
main {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  all: unset;
}

input::-ms-clear {
  display: none;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
} */
select {
  appearance: none;
}

ul li,
nav li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* --Breakpoints-- */
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');*/
/* Presets */
html {
  font-size: 10px;
}

html,
body {
  color: #19191d;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 22px;
}

p,
li {
  line-height: 2.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

a {
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 60px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .container {
    padding: 0 30px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 16px;
  height: 51px;
  width: 185px;
  background-color: #FF382A;
  border: 2px solid transparent;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transition: all 0.4s ease;
}
.btn:hover, .btn:focus {
  border-color: #C3C3CF;
  color: #FF382A;
  background-color: transparent;
}

.btn_gradient {
  border-radius: 4px;
  background: linear-gradient(90deg, rgb(30, 167, 229) 0%, rgb(35, 103, 206) 50%, rgb(31, 154, 224) 100%), 0;
  background-size: 200% 100%;
  transition: background-position 0.4s ease;
}
.btn_gradient:hover, .btn_gradient:focus {
  background-position: 100%;
  transition: background-position 0.4s ease;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.hamburger span {
  position: relative;
  display: block;
  top: 0;
  width: 24px;
  height: 2px;
  background: #000;
}
.hamburger span:not(:last-child) {
  margin-bottom: 5px;
}

.accordion_wrapper {
  padding: 60px 0 140px;
}
@media (max-width: 767px) {
  .accordion_wrapper {
    padding: 60px 0;
  }
}
.accordion_wrapper .container {
  max-width: 1024px;
}
@media (max-width: 991px) {
  .accordion_wrapper .container {
    padding: 0 10px;
  }
}
.accordion_wrapper .accordion a {
  font-size: 1.5rem;
  color: rgba(108, 130, 169, 0.85);
  text-decoration: underline;
}
.accordion_wrapper .accordion a:hover {
  color: rgb(108, 130, 169);
}
.accordion_wrapper .accordion .accordion_title {
  text-align: center;
  margin-bottom: 110px;
}
.accordion_wrapper .accordion .accordion_title h2 {
  font-size: 3.4rem;
}
.accordion_wrapper .accordion .element {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: white;
}
.accordion_wrapper .accordion .element .title {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .accordion_wrapper .accordion .element .title {
    text-align: center;
    justify-content: center;
  }
}
.accordion_wrapper .accordion .element .title h2 {
  font-size: 2.4rem;
  font-weight: 700;
}
@media (max-width: 570px) {
  .accordion_wrapper .accordion .element .title h2 {
    font-size: 2rem;
  }
}
.accordion_wrapper .accordion .element .title .icon {
  width: 26px;
  height: 26px;
  margin-right: 1rem;
}
.accordion_wrapper .accordion .element .title .expand_btn {
  margin-left: auto;
}
@media (max-width: 767px) {
  .accordion_wrapper .accordion .element .title .expand_btn {
    display: none;
  }
}
.accordion_wrapper .accordion .element .title svg {
  fill: #4067F0;
}
.accordion_wrapper .accordion .element .image_wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.accordion_wrapper .accordion .element .image_wrapper .image {
  max-width: 200px;
}
.accordion_wrapper .accordion .element .accordion_content {
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease, margin 0.4s ease;
}
.accordion_wrapper .accordion .element .accordion_content p {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  color: #747476;
  padding: 0 5%;
}
@media (max-width: 767px) {
  .accordion_wrapper .accordion .element .accordion_content p {
    padding: 0;
  }
}

.presentation {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 5%;
}
@media (max-width: 767px) {
  .presentation {
    flex-direction: column;
    align-items: center;
  }
}
.presentation .text,
.presentation .image {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
@media (max-width: 767px) {
  .presentation .text,
  .presentation .image {
    flex-basis: auto;
    width: 70%;
  }
}
@media (max-width: 570px) {
  .presentation .text,
  .presentation .image {
    width: 80%;
  }
}
@media (max-width: 424px) {
  .presentation .text,
  .presentation .image {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .presentation .text {
    order: 1;
    align-items: center;
    text-align: center;
  }
}
.presentation .text ul {
  padding-left: 20px;
}
.presentation .text ul li {
  list-style: disc;
  margin-bottom: 1rem;
}
.presentation .text p,
.presentation .text ul {
  margin-bottom: 28px;
}
.presentation .text .btn {
  font-size: 15px;
}
.presentation .image {
  display: flex;
  align-items: center;
}
.presentation .image img {
  object-fit: cover;
  object-position: center;
}

.arrow {
  margin-top: -7px;
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  transform: rotate(135deg);
}

/* Sections */
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #EEEEFB;
  transition: background 0.5s ease;
}
@media (max-width: 767px) {
  header {
    height: 70px;
  }
}
header .header {
  display: flex;
  align-items: center;
}
header .header.container {
  max-width: 1470px;
}
header .header .logo_wrapper {
  display: flex;
  line-height: 1;
}
@media (max-width: 991px) {
  header .header .logo_wrapper {
    flex-grow: 1;
    justify-content: center;
  }
}
header .header .logo_wrapper .logo {
  width: 262px;
  margin-right: 40px;
}
header .header .logo_wrapper .logo img {
  width: 100%;
}
header .header .logo_wrapper .logo_mobile {
  width: 30px;
}
header .header .buttons {
  display: flex;
  margin-left: auto;
  gap: 25px;
}
@media (max-width: 991px) {
  header .header .buttons {
    display: none;
  }
}
header .header .buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  width: 185px;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
}
header .header .buttons .btn:first-of-type {
  color: black;
  border-color: #C3C3CF;
  background: transparent;
}
header .header .buttons .btn:first-of-type:hover, header .header .buttons .btn:first-of-type:focus {
  /*            border-color: $color-main;
              background-color: $color-btn-bg-hover;*/
}
header .mobile_nav {
  box-sizing: content-box;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 50%;
  max-height: 0;
  width: 100%;
  opacity: 0;
  z-index: 9;
  background: white;
  transition: max-height 0.4s ease-out, opacity 0.3s ease-out;
}
header .mobile_nav.opened {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 1;
}
header .mobile_nav .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 40px;
  gap: 20px;
}
header .mobile_nav .buttons .btn {
  height: 51px;
  width: 50%;
  font-size: 1.4rem;
}
@media (max-width: 767px) {
  header .mobile_nav .buttons .btn {
    width: 90%;
  }
}
header .alignment, header .hamburger, header .logo_mobile {
  display: none;
}
header .alignment, header .hamburger {
  flex-shrink: 0;
  flex-basis: 5%;
}
@media (max-width: 991px) {
  header .alignment, header .hamburger {
    display: flex;
  }
}
@media (max-width: 767px) {
  header .logo {
    display: none;
  }
  header .logo_mobile {
    display: flex;
  }
}

.hero_wrapper {
  background: #EEEEFB;
}
.hero_wrapper .hero.presentation {
  padding-top: 120px;
  padding-bottom: 70px;
  gap: 50px;
}
@media (max-width: 991px) {
  .hero_wrapper .hero.presentation {
    align-items: flex-end;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .hero_wrapper .hero.presentation {
    padding-top: 70px;
    align-items: center;
    gap: 0px;
  }
}
@media (max-width: 991px) {
  .hero_wrapper .hero.presentation .text,
  .hero_wrapper .hero.presentation .image {
    min-height: auto;
  }
}
.hero_wrapper .hero.presentation .text {
  flex-basis: 50%;
}
.hero_wrapper .hero.presentation .image {
  flex-basis: 50%;
}
.hero_wrapper .hero.presentation .text {
  padding-top: 15%;
}
@media (max-width: 767px) {
  .hero_wrapper .hero.presentation .text {
    padding-top: 0;
  }
}
.hero_wrapper .hero.presentation .text h1 {
  line-height: 1.1;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .hero_wrapper .hero.presentation .text h1 {
    font-size: 4rem;
  }
}
@media (max-width: 767px) {
  .hero_wrapper .hero.presentation .text h1 {
    font-size: 3rem;
  }
}
.hero_wrapper .hero.presentation .text p {
  font-size: 1.8rem;
}
.hero_wrapper .hero.presentation .text .btn {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.tasks_wrapper {
  padding: 60px 0 90px;
}
@media (max-width: 570px) {
  .tasks_wrapper {
    padding: 70px 0;
  }
}
.tasks_wrapper .tasks .title {
  text-align: center;
  margin-bottom: 110px;
  font-size: 3.4rem;
}
@media (max-width: 767px) {
  .tasks_wrapper .tasks .title {
    font-size: 2.8rem;
    margin-bottom: 40px;
  }
}
.tasks_wrapper .tasks .items {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 40px;
  column-gap: 50px;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .tasks_wrapper .tasks .items {
    grid-template-columns: 100%;
    justify-content: center;
  }
}
.tasks_wrapper .tasks .items .item {
  display: flex;
  padding: 55px;
  border-radius: 12px;
  box-shadow: 0px 12px 40px 0px rgba(228, 228, 235, 0.62);
}
@media (max-width: 1199px) {
  .tasks_wrapper .tasks .items .item {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .tasks_wrapper .tasks .items .item .subtitle, .tasks_wrapper .tasks .items .item p {
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .tasks_wrapper .tasks .items .item {
    max-width: 80%;
    justify-self: center;
  }
}
@media (max-width: 767px) {
  .tasks_wrapper .tasks .items .item {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .tasks_wrapper .tasks .items .item .text {
    text-align: center;
  }
}
@media (max-width: 570px) {
  .tasks_wrapper .tasks .items .item {
    padding: 20px;
    max-width: 100%;
  }
}
@media (max-width: 570px) {
  .tasks_wrapper .tasks .items .item {
    box-shadow: none;
  }
}
.tasks_wrapper .tasks .items .item .img {
  width: 170px;
  margin-right: 20px;
  flex-shrink: 0;
}
.tasks_wrapper .tasks .items .item .text .subtitle {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 30px;
  margin-bottom: 1rem;
}
.tasks_wrapper .tasks .items .item .text p {
  font-size: 1.8rem;
  line-height: 26px;
  color: #747476;
  font-weight: 500;
}

@media (max-width: 767px) {
  .accordion {
    width: 100%;
  }
}
.accordion .element {
  margin-bottom: 20px;
  border: 1px solid #E1E5EE;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.19);
  padding: 30px 40px;
  transition: box-shadow 0.4s ease;
}
@media (max-width: 767px) {
  .accordion .element {
    padding: 40px 30px;
  }
}
.accordion .element.expanded {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.17);
}
.accordion .element .title h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

footer {
  padding: 40px 0 70px;
}
footer .footer p, footer .footer span {
  font-weight: 400;
  font-size: 1.4rem;
  color: #b7b7ba;
}
footer .footer .top_row {
  padding-bottom: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E8E8F3;
}
@media (max-width: 767px) {
  footer .footer .top_row {
    text-align: center;
  }
}
footer .footer .top_row .logo_wrapper {
  display: inline-block;
  width: 160px;
}
footer .footer .bottom_row {
  display: flex;
  justify-content: space-between;
}
footer .footer .bottom_row .left {
  max-width: 140px;
}
@media (max-width: 767px) {
  footer .footer .bottom_row {
    text-align: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  footer .footer .bottom_row .left, footer .footer .bottom_row .right {
    display: inline-block;
    width: 100%;
  }
  footer .footer .bottom_row .left {
    max-width: 100%;
  }
}

/* Pages */
.accordion_wrapper {
  background: #FFF3F2;
}
.contact_page .mail {
  color: #4067F0;
}
.contact_page .presentation.pr_bg {
  background-image: url("./img/contact_pr_bg.webp");
  background-position: 10% 0%;
  background-repeat: no-repeat;
}

.quote_page .presentation {
  padding-bottom: 0;
}
.quote_page .form_wrapper {
  background-color: #fff;
}
.quote_page .form form {
  max-width: none;
  padding: 0 6rem;
}
.quote_page .form form input,
.quote_page .form form textarea {
  background-color: #f0f0f0;
}
