@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  display: inline-block;
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

/* button::-moz-focus-inner {
  padding: 0;
  border: 0;
} */
nav,
footer,
header,
aside,
main {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  all: unset;
}

input::-ms-clear {
  display: none;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
} */
select {
  appearance: none;
}

ul li,
nav li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* --Breakpoints-- */
/* Presets */
html {
  font-size: 10px;
}

html,
body {
  color: #2D3649;
  font-family: "Sora", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 22px;
}

p,
li {
  line-height: 2.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Sora", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

.btn {
  line-height: 1;
  padding: 16px;
  background-color: #289EFD;
  border-radius: 10px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  transition: all 0.4s ease;
}
.btn:hover, .btn:focus {
  background-color: #D64933;
}

.btn_gradient {
  border-radius: 4px;
  background: linear-gradient(90deg, rgb(30, 167, 229) 0%, rgb(35, 103, 206) 50%, rgb(31, 154, 224) 100%), 0;
  background-size: 200% 100%;
  transition: background-position 0.4s ease;
}
.btn_gradient:hover, .btn_gradient:focus {
  background-position: 100%;
  transition: background-position 0.4s ease;
}

.hamburger {
  cursor: pointer;
  flex-direction: column;
}
.hamburger span {
  position: relative;
  display: block;
  top: 0;
  width: 24px;
  height: 2px;
  background: #000;
}
.hamburger span:not(:last-child) {
  margin-bottom: 5px;
}

/* Sections */
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 99;
}
header .header {
  display: flex;
  align-items: center;
  height: 100px;
}
header .header .logo_wrapper {
  line-height: 1;
}
header .header .logo_wrapper .logo {
  width: 150px;
  margin-right: 40px;
}
header .header .logo_wrapper .logo img {
  width: 100%;
}
header .header nav {
  flex-grow: 1;
  height: 100%;
}
@media (max-width: 767px) {
  header .header nav {
    display: none;
  }
}
header .header nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}
header .header nav ul li {
  height: 100%;
}
header .header nav ul li a {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2B2350;
}
header .header nav ul li a:hover, header .header nav ul li a:focus {
  text-decoration: underline;
}
header .header .btn {
  margin-left: auto;
  padding: 7px 24px;
  background-color: #fff;
  color: #4067F0;
  line-height: 2.8rem;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
}
header .header .btn:hover, header .header .btn:focus {
  background-color: #D64933;
  color: #fff;
}
@media (max-width: 767px) {
  header .hamburger {
    display: flex;
    margin-right: 20px;
  }
}

.hero_wrapper {
  background: #EFEEFE;
}
.hero_wrapper .hero.presentation {
  padding-top: 100px;
  padding-bottom: 0;
  gap: 20px;
}
@media (max-width: 991px) {
  .hero_wrapper .hero.presentation {
    align-items: flex-end;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .hero_wrapper .hero.presentation {
    align-items: center;
  }
}
.hero_wrapper .hero.presentation .text,
.hero_wrapper .hero.presentation .image {
  min-height: 80vh;
}
@media (max-width: 991px) {
  .hero_wrapper .hero.presentation .text,
  .hero_wrapper .hero.presentation .image {
    min-height: auto;
  }
}
.hero_wrapper .hero.presentation .text {
  flex-basis: 54%;
}
.hero_wrapper .hero.presentation .image {
  flex-basis: 46%;
}
.hero_wrapper .hero.presentation .text {
  padding-top: 0;
}
.hero_wrapper .hero.presentation .text h1 {
  line-height: 1.1;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .hero_wrapper .hero.presentation .text h1 {
    font-size: 3rem;
  }
}
.hero_wrapper .hero.presentation .text p {
  font-size: 1.8rem;
}
.hero_wrapper .hero.presentation .text .btn {
  width: 50%;
  margin-bottom: 30px;
}
.hero_wrapper .hero.presentation .text .rating {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #797687;
}
.hero_wrapper .hero.presentation .text .rating i {
  color: #FFAC33;
}

.presentation {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 5%;
  /*&.pr_ltr {
    .text {
      // padding-left: 6rem;
    }
  }

  &.pr_rtl {
    .text {
      // padding-right: 6rem;
    }
  }*/
}
@media (max-width: 767px) {
  .presentation {
    flex-direction: column;
    align-items: center;
  }
}
.presentation .text,
.presentation .image {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
@media (max-width: 767px) {
  .presentation .text,
  .presentation .image {
    flex-basis: auto;
  }
}
@media (max-width: 767px) {
  .presentation .text {
    order: 1;
    max-width: 80%;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 570px) {
  .presentation .text {
    max-width: 100%;
  }
}
.presentation .text ul {
  padding-left: 20px;
}
.presentation .text ul li {
  list-style: disc;
  margin-bottom: 1rem;
}
.presentation .text p,
.presentation .text ul {
  margin-bottom: 28px;
}
.presentation .text .btn {
  font-size: 15px;
}
.presentation .image {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .presentation .image {
    width: 60%;
    text-align: center;
  }
}
@media (max-width: 570px) {
  .presentation .image {
    width: 80%;
  }
}
@media (max-width: 424px) {
  .presentation .image {
    width: 100%;
  }
}
.presentation .image img {
  object-fit: cover;
  object-position: center;
}

.tasks_wrapper {
  padding: 100px 0;
}
@media (max-width: 570px) {
  .tasks_wrapper {
    padding: 70px 0;
  }
}
.tasks_wrapper .tasks .title {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .tasks_wrapper .tasks .title {
    font-size: 2.8rem;
    margin-bottom: 40px;
  }
}
.tasks_wrapper .tasks .items {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  row-gap: 40px;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .tasks_wrapper .tasks .items {
    grid-template-columns: 100%;
    justify-content: center;
  }
}
.tasks_wrapper .tasks .items .item {
  display: flex;
}
@media (max-width: 1024px) {
  .tasks_wrapper .tasks .items .item {
    max-width: 70%;
    justify-self: center;
  }
}
@media (max-width: 767px) {
  .tasks_wrapper .tasks .items .item {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .tasks_wrapper .tasks .items .item .text {
    text-align: center;
  }
}
@media (max-width: 570px) {
  .tasks_wrapper .tasks .items .item {
    max-width: 100%;
  }
}
.tasks_wrapper .tasks .items .item .img {
  width: 80px;
  margin-right: 20px;
  flex-shrink: 0;
}
.tasks_wrapper .tasks .items .item .text .subtitle {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.tasks_wrapper .tasks .items .item .text p {
  font-size: 1.5rem;
  color: #2D3649;
  font-weight: 400;
}

footer {
  padding: 30px 0;
}
footer .footer {
  display: flex;
  align-items: center;
}
footer .footer .logo_wrapper .logo {
  width: 175px;
}
@media (max-width: 570px) {
  footer .footer .logo_wrapper .logo {
    width: 110px;
  }
}
footer .footer .links {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
footer .footer .links a {
  font-size: 16px;
  font-weight: 700;
  color: #d6d6d6;
}
@media (max-width: 767px) {
  footer .footer {
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }
  footer .footer .logo_wrapper {
    order: 1;
  }
  footer .footer .links {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  footer .footer .links a {
    font-size: 16px;
    font-weight: 700;
    color: #d6d6d6;
  }
}
@media (max-width: 570px) {
  footer .footer .links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

/* Pages */
.contact_page .mail {
  color: #4067F0;
}
.contact_page .presentation.pr_bg {
  background-image: url("./img/contact_pr_bg.webp");
  background-position: 10% 0%;
  background-repeat: no-repeat;
}

.quote_page .presentation {
  padding-bottom: 0;
}
.quote_page .form_wrapper {
  background-color: #fff;
}
.quote_page .form form {
  max-width: none;
  padding: 0 6rem;
}
.quote_page .form form input,
.quote_page .form form textarea {
  background-color: #f0f0f0;
}
