.contact_page {
  .mail {
    color: $color-main;
  }
  .presentation.pr_bg {
    background-image: url('../img/contact_pr_bg.webp');
    background-position: 10% 0%;
    background-repeat: no-repeat;
  }
}
