/* --Breakpoints-- */

$x-small-screen: 424px;
$small-screen: 570px;
$medium-screen: 767px;
$large-screen: 991px;
$x-large-screen: 1024px;

@mixin screen($width) {
  @if $width == x-small {
    @media (max-width: $x-small-screen) {
      @content;
    }
  }
  @else if $width == small {
    @media (max-width: $small-screen) {
      @content;
    }
  } @else if $width == medium {
    @media (max-width: $medium-screen) {
      @content;
    }
  } @else if $width == large {
    @media (max-width: $large-screen) {
      @content;
    }
  }@else if $width == x-large {
    @media (max-width: $x-large-screen) {
      @content;
    }
  }
}
