$color-main: #4067F0;
$color-bg-main: #EFEEFE;
$color-copyright: #374052;

$color-dark: #2D3649;

$color-text-header: #2B2350;
$color-text-footer: #90A1B5;
$color-text-blue-gray: #7085A6;
$color-text-violet-gray: #797687;

$color-btn-bg: #289EFD;
$color-btn-bg-hover: #D64933;

$btn-radius: 10px;

$font-main: 'Sora', sans-serif;
$font-secondary: 'Poppins', sans-serif;